/* ... styles existants ... */

.App.clair {
    background-color: #f4f4f4;
    color: #333;
}

.App.sombre {
    background-color: #333;
    color: #f4f4f4;
}

.sidebar.clair {
    background-color: #ddd;
}

.sidebar.sombre {
    background-color: #444;
}
